
 #divInfo{
    font-size: 5px;
    margin-top:15px;
    text-align: center;

}
.image{
    width: 100%;
}
.captionDiv{
    padding-top: 30px;
}
.title{
    font-size: 20px;
}
.description{
    font-size: 15px;
}